<h2>Your profile</h2>
<%= render 'users/profile', user: resource %>

<h2>Edit Your Information</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field-extra">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <%= f.password_field :password, placeholder: "Leave blank unless changing", autocomplete: "new-password" %>    
  </div>

  <div class="field">
    <%= f.label :password_again %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field-extra">
    <%= f.label :current_password %>
    <em>Required to make changes.</em>
    <%= f.password_field :current_password, required: true, autocomplete: "current-password" %>    
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div class='l-profile__delete'>
  <div class="l-profile__delete-text">
    Unhappy? We're sorry to see you go.
  </div>
  <div class="l-profile__delete-button">
    <%= button_to 'Delete my account.', current_user, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %>
  </div>
</div>
