<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field-extra">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
    <%= f.password_field :password, required: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_again %>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
  </div>

  <details>
    <summary>Optional Fields</summary>
    <div class="field">
      <%= f.label :profile_picture %>
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :gender_identity %>
      <%= f.select :gender, ['Man', 'Woman', 'Transgender', 'Non-binary/non-conforming', 'Prefer not to say'] %>
    </div>

    <div class="field">
      <%= f.label :website %>
      <%= f.url_field :website %>
    </div>

    <div class="field">
      <%= f.label :birthday %>
      <%= f.date_field :birthday %>
    </div>

    <div class="field-single">
      <%= f.check_box :show_birth_year %>
      <%= f.label :show_birth_year, "Show Year?" %>      
    </div>

    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
  </details>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
