<%= turbo_frame_tag dom_id(comment) do%>
  <div class="c-post__comment"> 
    <div class="c-post__badge-comment">
      <span class="c-post__image-comment">img</span>
      <span class="c-post__name-comment"><%= comment.user.name %></span>
    </div>
    <div class="c-post__content-comment">      
        <p class="c-post__body-comment">
          <%= turbo_frame_tag "#{dom_id(comment)}_text" do %>
            <%= comment.content %>
          <% end %>
        </p>      
    </div>
    <div class="c-post__status-comment">
      <p class="c-post__actions-comment">
        <% if current_user.already_liked?(comment) %>
          <%= link_to 'Unlike', like_path(comment), data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to 'Like', comment_likes_path(comment, like: {liked_by: current_user.id, likeable_id: comment.id, likeable_type: 'Comment'}), data: { turbo_method: :post } %>
        <% end %>
        <span>Likes: <%= comment.likes.size %> </span>
        <% if current_user.id == comment.user.id %>
          <%= link_to 'Edit', edit_comment_path(comment), data: { turbo_frame: "#{dom_id(comment)}_text" } %>
          <%= link_to 'Delete', comment_path(comment), data: { turbo_frame: dom_id(comment), turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>