<div>
  <h3><%= @user.name %>'s friends</h3>
  <ul>
    <% @user.friends.each do |friend| %>
      <li>
        <% request = @user.find_request(friend) %>
        <%= turbo_frame_tag dom_id(request) do %>
          <%= link_to friend.name, user_path(friend) %>        
          (<%= link_to 'Delete?', request_path(request), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>)
        <% end %>
      </li>
    <% end %>
</div>
<% if current_user.id == @user.id %>
  <p>Unhappy? We're sorry to see you go.
  <%= button_to 'Delete my account.', current_user, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %></p>
<% end %>
