<div class='l-profile'>
  <div class='l-profile__request'>
    <% unless current_user.all_friends.include?(@user) || current_user == @user %>
      <%= turbo_frame_tag "request_#{dom_id(@user)}" do %>
        You are not friends! <%= link_to 'Send request', user_requests_path(current_user, request: { friend_id: @user} ), data: { 'turbo-method': :post }, class: 'link' %></li>
      <% end %>
    <% end %>
  </div>
  <div class="l-profile__detail">
    <%= render 'users/profile', user: @user %>
  </div>
  <div class='l-profile__posts'>
    <h3><%= @user.name %>'s Posts</h3>
    <% @user.posts.includes(:user, :rich_text_content).each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>
