<h1><%= current_user.name %>'s requests</h1>
<sub>My user ID: <%= current_user.id %></sub>
<div>
  <div>
      <h3>Pending Requests</h3>
      <ul>
        <% current_user.received_requests.pending.each do |request| %>
          <li>Request received from <%= request.user.name %>
            <%= turbo_frame_tag dom_id(request) do %>
              <%= link_to 'Accept', request_path(request, accept: true), data: { 'turbo-method': :patch }, class: 'link' %>
            <% end %>
          </li>
        <% end %>
        <% current_user.sent_requests.pending.each do |request| %>
          <li>Request sent to <%= request.friend.name %>
            <%= turbo_frame_tag dom_id(request) do %>
              <%= link_to 'Delete', request_path(request), data: { 'turbo-method': :delete, 'turbo-confirm': 'Delete request?' }, class: 'link' %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>
</div>