<h1><%= current_user.name %>'s pending requests</h1>
<sub>My user ID: <%= current_user.id %></sub>
<div>
  <div>
      <ul>
        <% current_user.received_requests.pending.each do |request| %>
          <li>Request from <%= request.user.name %>
            <%= turbo_frame_tag dom_id(request) do %>
              <%= link_to 'Accept', request_path(request, accept: true), data: { 'turbo-method': :patch } %>
            <% end %>
          </li>
        <% end %>
        <% current_user.sent_requests.pending.each do |request| %>
          <li>Request to <%= request.friend.name %>
            <%= turbo_frame_tag dom_id(request) do %>
              <%= link_to 'Delete', request_path(request), data: { 'turbo-method': :delete, 'turbo-confirm': 'Delete request?' } %>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>  
</div>