<%= turbo_frame_tag dom_id(post) do %>
  <div class="c-post">
    <div class="c-post__header">
      <div class="c-post__badge">
        <span class="c-post__image">img</span>
        <span class="c-post__name"><%= post.user.name %></span>
      </div>
      <div class="c-post__actions">
        <% if current_user.id == post.user.id %>
          <%= link_to 'Edit', edit_post_path(post), data: { turbo_frame: dom_id(post) } %>
          <%= link_to 'Delete', post_path(post), data: { turbo_frame: dom_id(post), turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
    <div class="c-post__content">
      <%= turbo_frame_tag post do %>
        <p class="c-post__body"><%= post.content %></p>
      <% end %>
    </div>
    <div class="c-post__status">
      <p class="c-post__info">
        <span>Likes: <%= post.likes.size %></span>
        <span><%=post.comments.size %> Comments</span>
      </p>
    </div>
    <div class="c-post__responses">
      <%= turbo_frame_tag "#{dom_id(post)}_comments" do %>
        <% post.comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      <% end %>
    </div>
    <div class="c-post__input">
      <%= render 'comments/form', post: post %>
    </div>
  </div>
<% end %>