<div>
  <div class="badge">
    <span class="badge__image">img</span>
    <span class="badge__name"><%= post.user.name %></span>

  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
  <p>Posted by <%= post.user.name %></p>
  <p>Likes: <%= post.likes_count %></p>
</div>