<nav>
  <div class="l-nav__application">
    <%= link_to 'Home', root_path %>
    <%= render 'layouts/search' if user_signed_in? %>
  </div>
  <div class="l-nav__user-options">
    <% if user_signed_in? %>
      <%= turbo_stream_from current_user, 'notifications' %>
      Hello, <%= link_to current_user.name, user_path(current_user) %>!      
      <%= turbo_frame_tag "#{dom_id(current_user)}_notify_count" do %>
        <%= link_to "Notifications (#{current_user.notifications.unseen.size})", notifications_path, data: { turbo: false } %>
      <% end %>
      <%= link_to 'Requests', user_requests_path(current_user) %>
      <%= button_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbo: false } %>
    <% end %>
  </div>
</nav>