<!DOCTYPE html>
<html>
  <head>
    <title>RailsPetbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="l-container">
    <header class="l-header">
      <%= render 'layouts/nav' %>
    </header>
    <div class="l-flash">
      <p class="l-flash__notice"><%= notice %></p>
      <p class="l-flash__alert"><%= alert %></p>
    </div>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
