<!DOCTYPE html>
<html>
  <head>
    <title>Petbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="l-container">
    <%= turbo_stream_from 'updates_feed' if user_signed_in? %>
    <header class="l-header">
      <%= render 'layouts/nav' %>
      <% if user_signed_in? %>
        <%= turbo_stream_from current_user, 'notifications' %>
      <% end %>
    </header>
    <div id="flash" class="l-flash">
      <%= render 'layouts/flash' %>
    </div>
    <main class="l-main">
      <%= yield %>
    </main>
    <footer class="l-footer">
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
